@charset "UTF-8";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* text 속성을 통일시키기 위한 css */
.m_text{
    /* 중간크기 text 속성 */
    font-weight: bold;
    font-size: 14px;
}

.s_text{
    /* 작은 크기 text 속성 */
    font-size: 12px;
}

header{
    display: flex;
    padding: 10px 20px;
}

header .profileImg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    /* margin: 0px 10px 0px 0px*/
    margin-right: 10px;
}


body{
    background-color: #fafafa;
}

article{
    width: 50%;
    border: 1px solid #0000003a;
    border-radius: 10px;
    margin: 0px auto;
    background-color: #fdfdfd;

}

.img_section>img{
    width: 100%;
    padding: 0px 15px;
}

.icon{
    padding-left: 15px;
    position: relative;
}

.icon>img{
    width: 25px;
}

.icon :nth-child(4){
    position:absolute;
    right: 15px;
}

.likes{
    padding: 5px 15px;
}

.contents{
    padding: 0px 15px;
}

.time{
    padding: 5px 15px 10px;
}

.time>p{
    color: #919191;
}